.mortgage {
  margin-top: 60px;
}

.mortgage__title {
  margin-bottom: 54px;
}

.mortgage__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.mortgage__row_item {
  border-radius: 20px;
  padding: 20px;
  height: 160px;

  display: flex;
  text-align: left;

  position: relative;
}
.mortgage__row_item-blue {
  background: rgb(219, 236, 255);
}
.mortgage__row_item-pink {
  background: rgb(255, 218, 210);
}
.mortgage__row_image {
  position: absolute;
  right: 10px;
  bottom: 0;
}
.mortgage__row_item-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title3_mortgage {
    color: $colorWhite;
  }

  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
}
